h1 {
  margin-bottom: 0px;
  line-height: 60px;
  font-size: 50px;
  font-weight: 200;
  font-family: "Raleway", sans-serif;
  color: #a37875;
}

h2 {
  margin-top: 0px;
  margin-left: 30px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 200;
  line-height: 30px;
  color: #b7a69f;
}

.containerSite {
  max-width: 1200px;
  display: block;
  margin: 0 auto;
}

.containerHeader {
  margin: 30px;
  padding: 40px;
  background-color: #e9e5e1;
  border-radius: 2px;
}

.containerWork {
  margin: 0px;
  padding: 40px;
  background-color: #e9e5e1;
  border-radius: 2px;
}
